body {
    background-color:#EAECEE}

/* header1 */
.h1
{
    font-weight: bold;
    font-family:"Times New Roman";
    text-align: center;
    color: white;
    background-color: oldlace;
    font-size:30px;
}


.container
{
    max-width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header
{
    color:white;
    background-image: url("./assets/Wood.jpg");
    padding: 1em 1.25em;
}
.header-heading
{
    text-align: center;
    font-family: "Pacifico";
    font-size: 50px;
    margin: 0;
}

/* navgation */
.nav-bar
{
    background: white;
    padding: 5px;
}

.nav
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li
{
    display: inline;
    margin: 0 1em 0 0;
}

.nav a
{
    display: block;
    display: inline;
    padding: .7em 1.5em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid gray;
    border-bottom: 0;
    font-size:18px;
}

.nav a:link {color: #E74C3C}
.nav a:visited {color: #A9CCE3}
.nav a:hover{color: #7B241C}

.maincontent
{

    height: 1000px;
    padding: 1em;
    background-image: url("./assets/img3.jpg");
    background-size: unset;
}
.maincontent a{
    background-color: white;
    font-family: "Pacifico";
    color:black;
    font-size: 40px;
    text-decoration: none;
    Padding: .1em .1em;
    border-style: solid solid solid solid;
}

.content
{

    /*height: 1000px;*/
    padding: 1em;
}
.content a{
    background-color: white;
    font-family: "Pacifico";
    color:black;
    font-size: 40px;
    text-decoration: none;
    Padding: .1em .1em;
    border-style: solid solid solid solid;
}

.footer
{
    background: #EAECEE;
    padding: 1em 1.25em;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cssmenu:after,
.cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.cssmenu {
    width: auto;
    border-bottom: 3px solid sandybrown;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
.cssmenu ul {
    background: #ffffff;
}
.cssmenu > ul > li {
    float: left;
}
.cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
.cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
.cssmenu.align-right > ul > li {
    float: right;
}
.cssmenu.align-right > ul > li > a {
    margin-right: 0;
    margin-left: -4px;
}
.cssmenu > ul > li > a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
}
.cssmenu > ul > li.active > a,
.cssmenu > ul > li:hover > a,
.cssmenu > ul > li > a:hover {
    color: #ffffff;
}
.cssmenu > ul > li > a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}
.cssmenu > ul > li.active > a:after,
.cssmenu > ul > li:hover > a:after,
.cssmenu > ul > li > a:hover:after {
    background: sandybrown;
}
